:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --btn-bg: #0077cc;
  --btn-text: #ffffff;
  --card-bg: #cfcfcf;
}

body.dark {
  --bg-color: #121212;
  --text-color: #eaeaea;
  --btn-bg: #3399ff;
  --btn-text: #000000;
  --card-bg: #192c46;

}

/* body.dark { background-color:#111; color:#eee; } */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  padding-top: 60px;
  transition: background-color 0.3s, color 0.3s;
}

.cortinilla-content {
  display: none;
  margin-top: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

input[type="radio"] {
  accent-color: #0004ff;
  /* Cambia a cualquier color */
}

input[type="radio"]:disabled {
  accent-color: red;
  /* Color del texto desactivado */
  border-color: red
}

label+input[type="radio"]:disabled {
  color: #ff0000;
  /* Color del texto desactivado */
}

h3 {
  color: var(--text-color);
  font-family: sans-serif;
  padding: 20px 0px 0 0;
}

h2 {
  color: var(--text-color);
  font-family: fantasy;
  padding: 0 20px 0 0;
}

#cargarJSONBtn {
  background: linear-gradient(135deg, #27ae60, #2ecc71);
  font-weight: bold;
  height: 40px;
}

#menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  background: var(--card-bg);
  padding: 10px;
  margin: 0px;
  border-radius: 0 8px;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  flex-wrap: wrap;
  justify-content: space-between;
}

#menubar button {
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}

button {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* .pregunta { margin:10px 0; padding:10px; border:1px solid #ccc; border-radius:5px; } */

.correcto {
  color: green;
  font-weight: bold;
}

.incorrecto {
  color: red;
  font-weight: bold;
}

.pregunta {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pregunta p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 0 15px 0;
}

/* .opcion { display:block; margin:4px 0; } */
.opcion {
  margin-left: 20px;
  font-size: 1.2em;
  display: block;
}

.pregunta-buttons-container {
  display: flex;
  background-color: #0077cc57;
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-between;
}